* {
    margin: 0;
}



body {
    font-family: "Roboto", sans-serif;
}

.navbar {
    display: flex; 
    /* border: solid; for reference  */
    background-color: #1f2937;
    color: white;
    padding: 30px 100px;
}



.links {
    display: flex;
    justify-content: space-ar;
    gap: 20px;
    /* border: solid; for reference  */
    margin-left: auto;
    align-items: center;
    font-size: 18px;
}

ul {
    list-style-type: none;
}

.intro {
    display: flex; 
    background-color: #1f2937;
    color: white;
    padding: 100px 100px;
    
}

.left-hero {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.right-hero {
    margin-left: auto; 
}


.upper-button {
    background-color: #3882f6;
    max-width: 120px;
    border-radius: 5px;
    padding: 7px 25px;
    border: 0;
    color: #E5E7EB;
    font: 14px bold;
    font-family: "Roboto", sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}

h2 {
    font-size: 36px;
    color: #1f2937;
    weight: 900;
}

.images {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin: 20px 60px;
    flex-shrink: 1;
    max-width: 800px;
    max-height: 1000px;
    border: dotted;
}

.one {
    display: flex;
    flex-direction: column;
    border: solid;
    align-items: center;
    
}

.two {
    display: flex;
    flex-direction: column;
    border: solid;
}

.three {
    display: flex;
    flex-direction: column;
    border: solid;
}

.four {
    display: flex;
    flex-direction: column;
    border: solid;
}

img {
    border-radius: 15px;
}


.trivia {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: light;
    font-style: italic;
    padding: 100px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    
}

.trivsource {
    margin-left: auto;
}


.sign-up {
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    gap: 300px;
    padding: 20px;
    margin: 70px;
    border-radius: 5px;
    color: #f9faf8;
    font-size: 16px;

}

.left {
    display: flex;
    flex-direction: column;
}

.lower-button {
    background-color: #3882f6;
    border: white solid 1px;
    border-radius: 5px;
    padding: 5px 20px;
    color: #E5E7EB;
    font: 16px bold ;
    font-family: "Roboto", sans-serif;
}

.footer {
    background-color: #1F2937;
    padding: 15px;
    text-align: center;
    color: #E5E7EB;
}








/* .one {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid;


}

.two {
    display: flex;
    flex-direction: column;
    border: solid;
}

.three {
    display: flex;
    flex-direction: column;
    border: solid;
}

.four {
    display: flex;
    flex-direction: column;
    border: solid;
} */





