* {
    margin: 0;
}



body {
    font-family: "Roboto", sans-serif;
}

.navbar {
    display: flex; 
    /* border: solid; for reference  */
    background-color: #1f2937;
    color: white;
    padding: 30px 100px;
}



.links {
    display: flex;
    justify-content: space-ar;
    gap: 20px;
    /* border: solid; for reference  */
    margin-left: auto;
    align-items: center;
    font-size: 18px;
}

ul {
    list-style-type: none;
}

.intro {
    display: flex; 
    background-color: #1f2937;
    color: white;
    padding: 100px 100px;
}

.right-hero {
    margin-left: auto; 
}

.content {
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}

h2 {
    font-size: 36px;
    color: #1f2937;
    weight: 900;
}

.images {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center
    border: solid;

    
    
}

.one {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid;


}

.two {
    display: flex;
    flex-direction: column;
    border: solid;
}

.three {
    display: flex;
    flex-direction: column;
    border: solid;
}

.four {
    display: flex;
    flex-direction: column;
    border: solid;
}


img {
    border-radius: 15px;
}


